.keypad{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.number{
    width: 80%;
}
.number button{
    width:104px;
    height:76px;
    margin: 1px 1px;
    border: 1px solid gainsboro;
}

.operator{
    width: 20%;
}

.operator button{
    width: 80px;
    height: 50px;
    margin: 1px 1px 1px 0px;
    color: white;
    /* border: 1px solid gainsboro; */
}

button:hover{
    border: 1px solid black;
}